@page "/"

<PageTitle>Blazor Introduction</PageTitle>

<h1 class="m-0">Blazor Introduction</h1>

<div class="lead mb-5 fs-4">Blazor beginner? Not to worry, you will soon become a Blazor Pro!</div>

<dl>
    <dt>Blazor Project Structure</dt>
    <dd>Modify the Blazor project structure</dd>
    
    <dt>Razor Syntax</dt>
    <dd>Add conditional logic to HTML markup.</dd>
    
    <dt>Routing</dt>
    <dd>Add pages and give them a route.</dd>
</dl>