@page "/tasker"

<div class="d-flex align-items-center justify-content-center">
    <div class="task p-5">
        <div class="p2 text-center mb-3">
            <img src="/img/tasker_600.png" alt="Tasker" width="300" />
        </div>
        <div>
            <EditForm Model="taskerItem" OnValidSubmit="AddTask">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="d-flex flex-row gap-2">
                    <InputText class="form-control" placeholder="Enter a task" @bind-Value="taskerItem.Name"></InputText>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div>
                    <ValidationMessage For="() => taskerItem.Name"></ValidationMessage>
                </div>
            </EditForm>
        </div>
        <hr />
        <div class="vstack">
            @foreach (var ti in taskerItems)
            {
                <TaskerLine TaskerItem="ti" OnDelete="DeleteTask" OnTaskComplete="CompleteTask"></TaskerLine>
            }
        </div>
    </div>
</div>

@code {
    private readonly TaskerItem taskerItem = new();
    private readonly List<TaskerItem> taskerItems = [];

    private void AddTask()
    {
        var newTask = new TaskerItem { Name = taskerItem.Name };
        taskerItems.Add(newTask);
    }

    private void DeleteTask(TaskerItem ti)
    {
        taskerItems.Remove(ti);
    }

    private void CompleteTask(TaskerItem ti)
    {
        //TODO: Save task to local storage.
    }

}
