@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!-- Top Nav Bar-->
    <HomeMenu></HomeMenu>
    <!-- Main Content Area -->
    <main class="flex-grow-1 container-xxl mt-3">
        @Body
    </main>
    <!-- Footer -->
    <footer class="flex-shrink-0 container-xxl">
        <TopNavFooter></TopNavFooter>
    </footer>
</div>



@code {

}
