<div class="card h-100 movie-card">
    <img src="/images/poster.png" alt="Movie poster" class="card-img-top" />
    <div class="card-body border border-top">
        <div class="card-title fw-bold lh-1">Movie Title</div>
        <div class="card-text lh-1 fst-italic">Release date: December 01, 2025</div>
    </div>
    <div class="card-footer d-flex justify-content-between movie-card-footer">
        <button class="btn btn-outline-primary">Add favorite</button>
        <a href="moviedetail" class="btn btn-primary">More info</a>
    </div>
</div>
@code {

}
