<div class="d-flex flex-row">
    <div>
        <InputCheckbox @bind-Value="TaskerItem.IsComplete"></InputCheckbox>
    </div>
    <div class="@GetCssClass()">
        @TaskerItem.Name
    </div>
    <div>
        <a @onclick="DeleteTaskAsync">
            <i class="bi bi-trash-fill text-danger"></i>
        </a>
    </div>
</div>

@code {
    /// <summary>
    /// The <see cref="Models.TaskerItem"/> instance this component is bound to.
    /// </summary>
    [Parameter, EditorRequired]
    public TaskerItem TaskerItem { get; set; } = null!;

    /// <summary>
    /// Callback invoked when the delete action is triggered for this task item.
    /// </summary>
    [Parameter]
    public EventCallback<TaskerItem> OnDelete { get; set; }

    private async Task DeleteTaskAsync()
    {
        await OnDelete.InvokeAsync(TaskerItem);
    }

    private string GetCssClass()
    {
        return $"px-2 flex-grow-1 {(TaskerItem.IsComplete ? "complete" : string.Empty)}";
    }

}
