@page "/favorites"

<PageTitle>Favorites</PageTitle>
<div>
    <h1>
        <i class="bi bi-heart-fill text-danger"></i>
        Favorites
    </h1>
    <p class="lead italic">Your favorite movies.</p>
    <MovieList Movies="_favoriteMovies" IsLoading="_isLoading" CategoryLabel="Favorites" />
</div>
